<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jst.mapper.article.CommentMapper">
	<resultMap type="Edu_Comment" id="Edu_CommentMap">
		<result column="comment_id" property="comment_id" />
		<result column="p_comment_id" property="p_comment_id" />
		<result column="content" property="content" />
		<result column="addTime" property="addtime" />
		<result column="other_id" property="other_id" />
		<result column="praise_count" property="praise_count" />
		<result column="reply_count" property="reply_count" />
		<result column="type" property="type" />
		<association property="userId" column="user_id"
			select="com.jst.mapper.fornt.FrontUserMapper.getById"></association>
	</resultMap>
	<select id="getById" parameterType="int" resultMap="Edu_CommentMap">
		select *
		from
		edu_comment where comment_id=#{value}
	</select>
	<select id="listAll" resultType="Edu_Comment">
		select * from edu_comment
	</select>
	<select id="getByOther" parameterType="int" resultMap="Edu_CommentMap">
		select *
		from edu_comment where other_id=#{other_id} and p_comment_id=0
	</select>
	<insert id="save" parameterType="Edu_Comment">
		insert into
		edu_comment(p_comment_id,content,addtime,other_id,type,user_id)
		values(#{p_comment_id},#{content},#{addtime},#{other_id},#{type},#{userId.user_id})
	</insert>
	<insert id="addChildComment" parameterType="Edu_Comment">
		insert into
		edu_comment(p_comment_id,content,addtime,other_id,type,user_id)values(#{p_comment_id},#{content},#{addtime},#{other_id},#{type},#{userId.user_id})
	</insert>
	<select id="listChildComment" resultMap="Edu_CommentMap"
		parameterType="java.util.Map">
		select * from edu_comment where other_id=#{other_id} and
		p_comment_id=#{p_comment_id}
	</select>
	<update id="praiseEdit" parameterType="EduComment">
		update edu_comment set
		praise_count=praise_count+1 where
		comment_id=#{comment_id} and
		type=#{type}
	</update>
	<update id="replyEdit" parameterType="int">
		update edu_comment set
		reply_count=reply_count+1 where
		comment_id=#{comment_id}
	</update>
</mapper>